$system-white: #ffffff;
$system-black: #000000;

$system-surface: #707d83;
$system-bg: #ebe8f0;

$system-primary: #00aa87;
$system-primary-light: #b2eddd;
$system-primary-bg: #f1faf7;

$system-text: #041b26;
